.musPick
{
	cursor:pointer;
}
#sortable li input[type="text"] { 
	padding: 0.4em; 
	font-family: Arial; 
}

/* Inline Edit */
.hover { background: #fffbe1; }
.date_done
{
	color:	#770077;
}
.date_done_befor
{
	color:blue;
}
.row_date:hover
{
	background: #DEDEBE;
}
.row_date
{
	width: 70%;
	height: 20px;
}

.menu_parent
{
	color:white;
}
.menu_children
{
	display: none;
}
.case_title {
	padding-left: 160px;
	padding-top: 30px;
}
.glyphicon{
	font-size: 16px;
}
.top_btn {
	top:30px;
	left:450px;
	position: absolute;
	z-index:50;
	
}
#year_menu li a{
	font-size:18px;
}
#old_year_menu li a{
	font-size:18px;
}
.case_title{
	font-family:標楷體;
	font-weight:bolder;
	font-size:36px;
}