.musPick
{
	cursor:pointer;
}
input[type="text"] { padding: 0.4em; font-family: Arial; }

/* Inline Edit */
.hover { background: #fffbe1; }
.date_done
{
	color:blue;
}
.date_done_befor
{
	color:red;
}
.row_date:hover
{
	background: #fffbe1;
}
