.musPick
{
	cursor:pointer;
}
input[type="text"] { padding: 0.4em; font-family: Arial; }

/* Inline Edit */
.hover { background: #fffbe1; }
.date_done
{
	color:blue;
}
.date_done_befor
{
	color:red;
}
.row_date:hover
{
	background: #fffbe1;
}
.row_date
{
	width: 70%;
	height: 20px;
}
.menu_parent
{
	color:white;
}
.menu_children
{
	display: none;
}
.case_title {
	padding-left: 160px;
	padding-top: 30px;
}
.glyphicon{
	font-size: 18px;
}
